[Unit]
Description=xPL clock
After=xpl-hub.service

[Service]
Type=simple
User=control
Group=users
ExecStart=/home/control/Controls/xPL/lights-blinds/xpl-colourClock.py
Restart=always

[Install]
WantedBy=multi-user.target
