[Unit]
Description=xPL snapcast control
After=xpl-hub.service

[Service]
Type=simple
User=control
Group=users
ExecStart=/home/control/Controls/xPL/audio-video/xpl-snapcast.py -n home
Restart=always

[Install]
WantedBy=multi-user.target
