[Unit]
Description=xPL central
After=xpl-hub.service

[Service]
Type=simple
User=control
Group=users
ExecStart=/home/control/Controls/xPL/central/xpl-central.pl -r
Restart=always

[Install]
WantedBy=multi-user.target
