[Unit]
Description=xPL REST interface
After=xpl-hub.service

[Service]
Type=simple
User=control
Group=users
ExecStart=/home/control/Controls/xPL/central/xpl-rest-cors.py
Restart=always

[Install]
WantedBy=multi-user.target
