[Unit]
Description=xPL RPi GPIO
After=xpl-hub.service pigpiod.service

[Service]
Type=simple
User=control
Group=users
WorkingDirectory=/home/control
#Environment="GPIOZERO_PIN_FACTORY=pigpio"
ExecStart=/home/control/Controls/xPL/utilities/xpl-RPi_GPIO.py
Restart=always

[Install]
WantedBy=multi-user.target
